body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_container{
  background-color: #1C1E29;
  height: 100vh;
}

.nav-bar{
  background-color: #33354B !important;
  margin: 15px auto;
  border-radius: 5px;
  width: 80%;
}

.brand-name{
  color: #FF4473 !important;
}
.nav-item{
  color: white !important;
}

.nav-item:hover{
  background-color: transparent !important;
}

.nav-controls{
  background-color: transparent !important;
  margin: 10px;
}

.restart-icon{
  background-color: transparent !important;
  border: 1px solid #FF4473 !important;
  color: wheat !important;
}

.timer{
  width: 80px;
  font-size: 17px !important;
}

.timer-blue{
  border-color: blue !important;
  color: blue !important;
}

.timer-green{
  border-color: greenyellow !important;
  color: greenyellow !important
}

.typing-container{
  width: 80%;
  margin: 20px auto;
  background-color: #33354B !important;
  flex-grow: 1 !important;
}

.typing-text{
  margin: 40px 80px;
  font-size: 30px;
  color: wheat;
}

.input-type{
  width: 80% !important;
  margin: auto auto 80px !important;
  align-self: flex-end !important;
  vertical-align: bottom;
  height: 50px !important;
  background-color: #1C1E29 !important;
  border:1px solid #FF4473 !important;

}

.input-field{
  background-color: #1C1E29 !important;
  border:1px solid #FF4473 !important;
  color: white !important;
  font-size: 20px !important;
}

.green{
  color: greenyellow;
}

.red{
  color: red;
}